/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

body {
  @apply text-sm text-gray-900;
}

 

code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}

.trans-300 {
  @apply duration-300 ease-out;
}

.trans-500 {
  @apply duration-500 ease-out;
}

.trans-700 {
  @apply duration-700 ease-out;
}

.trans-color {
  @apply trans-300 transition-colors;
}

.trans-all {
  @apply trans-300 transition-all;
}

///
/// markdown
///

.markdown a {
  @apply text-blue-600 hover:underline;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown p,
.markdown ol,
.markdown pre,
.markdown ul {
  @apply mb-4;
}

.markdown ol {
  @apply ml-8 list-outside list-decimal;
}

.markdown ul {
  @apply ml-8 list-outside list-disc;
}

.markdown ul li::marker {
  @apply text-2xl;
}

.markdown h1 {
  @apply text-3xl capitalize;
}

.markdown h1:not(:first-child) {
  @apply mt-8;
}

.markdown h2 {
  @apply text-2xl capitalize;
}

.markdown h2:not(:first-child) {
  @apply mt-8;
}

.markdown h3 {
  @apply text-xl capitalize;
}

.markdown h3:not(:first-child) {
  @apply mt-8;
}

.markdown h4 {
  @apply text-lg capitalize;
}

.markdown h4:not(:first-child) {
  @apply mt-8;
}

.markdown th,
td {
  padding: 0.5rem 2rem;
}
