---
import { getCollection } from "astro:content"

import ContentLayout from "@layouts/ContentLayout.astro"
import { FormattedDate } from "@components/formatted-date"
import { BasePostImage } from "@components/post/base-post-image"

const posts = (await getCollection("posts")).sort(
  (a, b) => a.data.added.valueOf() - b.data.added.valueOf(),
)
---

<ContentLayout title="Home">
  <section slot="main">
    <ul>
      {
        posts.map(post => (
          <li>
            <a href={`/post/${post.slug}/`}>
              <BasePostImage post={post} className="rounded-lg max-h-48" />
              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.added} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</ContentLayout>
