---
 
import ContentLayout from "@layouts/ContentLayout.astro"
import { FormattedDate } from "@components/formatted-date"
import { BasePostImage } from "@components/posts/base-post-image"
import { getSortedPosts } from "@lib/post"
import { getSlug } from "@lib/urls"

const posts = await getSortedPosts()
---

<ContentLayout title="Home">
  <section slot="main">
    <ul>
      {
        posts.map(post => (
          <li>
            <a href={`/blog/${getSlug(post.id)}/`}>
              <BasePostImage post={post} className="rounded-lg max-h-48" />
              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.added} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</ContentLayout>
