---
import dayjs from "dayjs"

import BlackLink from './links/BlackLink.astro';
import GrayLink from './links/GrayLink.astro';


export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<style>
  .post-preview {
    @apply mb-8;
  }

  .post-description {
    @apply m-0;
  }

  .read-more {
    @apply text-sm mt-1;
  }
</style>

<article class="post-preview">
  <header>
    <h2 class="publish-date">{dayjs(post.publishDate).format("MMM DD, YYYY")}</h2>
    <BlackLink href={post.url}><h1 class="title">{post.title}</h1></BlackLink>
  </header>
  <main>
    <p class="post-description">{post.description}</p>
    <div class="read-more"><GrayLink href={post.url}>Read more...</GrayLink></div>
  </main>
</article>
