---
import config from "../site.config.json" 

const { site,email } = config;

---

<style>
  .sidebar {
    @apply w-1/4 px-8;
  }

  .me {
    @apply rounded-full -mt-16 border border-solid border-gray-300 mb-4;
  }

  .email {
    @apply flex flex-row items-center mt-2;
  }

  .email-icon {
    @apply mr-2;
  }
</style>

<div class="sidebar">
<img src="images/authors/antony-holmes.jpg" class="me" />
<h1>{site}</h1>
<div class="email">
<div class="email-icon"><a href={email}><i class="far fa-envelope"></i></a></div><div><a href={email}>{email}</a></div>
</div>
</div>
