---
import BasePage from '../layouts/BasePage.astro';
import Container from '../components/Container.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Sidebar from '../components/Sidebar.astro';

export interface Props {
  title: string
  description: string
  permalink: string
  tab?: string
}

let { title, description, permalink, tab, content } = Astro.props;

if (tab === undefined) {
    tab = title
}
---

<style>
  .main-content {
    @apply w-full xl:w-1/3 2xl:w-3/4 px-4 xl:px-0  min-h-screen;
  }
</style>

<BasePage title={title} description={description} permalink={permalink}>
  <Header tab={tab}/>

  <Container>
    <Sidebar />
    <div class="main-content">
      <slot />
    </div>
  </Container>

  <Footer/>
</BasePage>